*{
    margin: 0;
    padding: 0;
}

body{
    background: rgba(96, 39, 161, 0.342); /* White background with transparency */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Space inside the box */
    backdrop-filter: blur(10px); /* Blurring effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    color: #000000; /* Text color */
}

h1{
    font-size: 36px;
    text-align: center;
    font-variant: small-caps;
    padding: 15px;
    margin: -15px;
}

