:root{
    --main-color: #292346a4;
    --bg-color: #f3eff07e;
    --bg-color2: #5F15BA;
    --text-color: #692d4e;
    --hover-color1: #955FDC;
    --shadow-color:#91334F;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    background: url('img/skateclosup.jpg') no-repeat center center fixed;
    background-size: cover;
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blurring effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    color: #000000; /* Text color */
}

header{
    background-color: var(--bg-color);
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

nav h1{
    font-size: 35px;
    color: var(--text-color);
    padding-left: 55px;
    text-shadow: 4px 4px 7px var(--shadow-color);
}

nav ul{
    display: flex;
    overflow: hidden;
}

nav li{
    display: flex;
    text-align: center;
    padding: 10px;
    margin-right: 50px;
}

nav a{
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 4px 4px 7px var(--shadow-color);
    color: var(--text-color);
}

nav a:hover{
    color: #955FDC;
    text-shadow: 2px 2px 5px var(--shadow-color);
    transition-delay: 0.2s;
}

section {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.712);
}

.aboutme, .skills, .projects, .learn {
    margin: auto;
}

h2{
    font-size: 3rem;
    color: var(--text-color);
    text-shadow: 2px 2px 5px var(--shadow-color);
}

img{
    border-radius: 50%;
    width: 15%;
}

.skills ul, .projects ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

.skills li, .projects li {
    background-color: var(--main-color);
    color: white;
    text-shadow: 2px 2px 5px var(--shadow-color);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
}

footer.contact {
    background-color: var(--bg-color);
    padding: 20px;
    text-align: center;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

footer li {
    font-weight: bold;
    color: var(--text-color);
    text-shadow: 4px 4px 7px var(--main-color);
    font-size: 1.5rem;
}