:root{
    --main-color: #292346a4;
    --bg-color: #f3eff07e;
    --bg-color2: #5F15BA;
    --text-color: #692d4e;
    --hover-color1: #955FDC;
    --shadow-color:#91334F;
    --footer-color: #331523;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    background: url('img/skateclosup.jpg') no-repeat center center fixed;
    background-size: cover;
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blurring effect */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

header{
    background-color: var(--bg-color);
    width: 100%;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-style: italic;
}

nav h1{
    font-size: 35px;
    color: var(--text-color);
    padding-left: 55px;
    text-shadow: 4px 4px 7px var(--shadow-color);
}

nav ul{
    display: flex;
    overflow: hidden;
}

nav li{
    display: flex;
    text-align: center;
    padding: 10px;
    margin-right: 50px;
}

nav a{
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 4px 4px 7px var(--shadow-color);
    color: var(--text-color);
}

nav a:hover{
    color: #955FDC;
    text-shadow: 2px 2px 5px var(--shadow-color);
    transition-delay: 0.2s;
}

section {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.712);
}

.aboutme, .skills, .projects, .learn {
    margin: auto;
}

.aboutme img{
    float: left;
    display: block;
    margin-left: 15%;
    width: 20%;
    border-radius: 50%;
}

.aboutme p{
    margin-top: 6.5%;
    margin-left: 40%;
    font-size: 20px;
    font-style: italic;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--text-color);
    text-shadow: 2px 2px 5px var(--shadow-color);
    padding-bottom: 30px;
    font-style: italic;
}

.skills {
    padding-top: 10%;
}

.skills ul, .projects ul, .learn ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    justify-content: center;
}

.skills li, .projects li, .learn li {
    background-color: var(--main-color);
    color: white;
    text-shadow: 2px 2px 5px var(--footer-color);
    padding: 30px 50px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 45px;
    font-style: italic;
}

.projects h3{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.projects p {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.learn p {
    display: flex;
    justify-content: center;
    font-style: italic;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px var(--footer-color);
}

.learn h3{
    display: flex;
    justify-content: center;
}


footer.contact {
    background-color: var(--bg-color);
    padding: 20px;
    text-align: center;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

footer li {
    font-weight: bold;
    color: var(--footer-color);
    text-shadow: 4px 4px 7px var(--main-color);
    font-size: 3rem;
}

footer a {
    color: var(--footer-color);
}

footer p{
    padding-top: 20px;
    font-size: 20px;
    color: var(--footer-color);
    font-weight: bold;
}