*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #7B9893;
} 

nav {
    background-color: rgb(209, 82, 88, 0.5);
}

nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    padding: 16px;
    text-decoration: none;
    display: flex;
    color: rgb(255, 255, 255);
}

nav a:hover {
    background-color: rgb(254, 245, 223, 0.5);
    transition: 1s;
}

